# Supabase
SUPABASE_URL=<PON_AQUI_TU_SUPABASE_URL>
SUPABASE_ANON_KEY=<PON_AQUI_TU_SUPABASE_ANON_KEY>

# Conect REDIS
REDIS_URL=<PON_AQUI_TU_REDIS_URL>
# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=<PON_AQUI_TU_DATABASE_URL>
# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=<PON_AQUI_TU_DIRECT_URL>
# Server
PORT="3001"
NODE_ENV=development

# se genera con openssl rand -base64 32 y es lo que utiliza para codificar los tokens del jwt
JWT_SECRET=<PON_AQUI_TU_JWT_SECRET>
