# Supabase
SUPABASE_URL=https://qgfuohdycmsquyjrtocp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFnZnVvaGR5Y21zcXV5anJ0b2NwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNjg4ODUsImV4cCI6MjEwMzc0NDg4NX0.zdjRMclHW94C5phl4sCOSAeJ_uwF2Fsp6JaP5ivOZkE

# Server
PORT=3000
NODE_ENV=development
